<h1>New Guide Form</h1>

<%= form_for @guide do |f| %>
  
  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>
  
  <div class="field">
    <%= f.label :content %>
    <%= f.text_field :content %>
  </div>
  
  <div class="field">
    <%= f.label :published %>
    <%= f.check_box :published %>
  </div>
  
  <div class="actions">
    <%= f.submit 'Save' %>
  </div>
<% end %>